.bookBoardList {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4열 고정 */
  padding-top: 34px;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
}

.title {
  margin-left: 10px;
  padding-bottom: 34px;
  font-size: 40px;
  font-family: 'Pretendard Bold';
  color: var(--color-bright-text);
}

@media (max-width: 1300px) {
  .bookBoardList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .bookBoardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .bookBoardList {
    grid-template-columns: repeat(1, 1fr);
  }
}

.itemBoardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 고정 */
  padding-top: 34px;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

@media (max-width: 1200px) {
  .itemBoardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .itemBoardList {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pagination {
  padding-bottom: 4.5rem;
}
