.boardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 고정 */
  padding-top: 34px;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1.5rem;
}

@media (max-width: 1200px) {
  .boardList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 850px) {
  .boardList {
    grid-template-columns: 1fr;
  }
}

.pagination {
  padding-bottom: 4.5rem;
}
