.boardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 고정 */
  padding-top: 34px;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
}

@media (max-width: 700px) {
  .project-list-container {
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
  }
}
@media (max-width: 480px) {
  .project-list-container {
    grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
  }
}
