.boardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3열 고정 */
  padding-top: 34px;
  padding-bottom: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
}

/* 반응형 조정 */
@media (max-width: 900px) {
  .project-list-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project-list-container {
    grid-template-columns: 1fr;
  }
}

.content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
