.boardContainer {
  position: relative;
}

.boardOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
@keyframes modalScale {
  0% {
    transform: translateX(-50%) scale(0.5);
    opacity: 0;
  }
  100% {
    transform: translateX(-50%) scale(1);
    opacity: 1;
  }
}

.boardModalContent {
  position: absolute;
  background-color: var(--color-modal-white);
  width: 350px;
  height: 355px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 2.5px solid var(--color-primary);
  top: 28%;
  left: 50%;
  transform: translateX(-50%);
  animation: modalScale 0.3s ease-out;
}

.modalBody {
  padding: 16px;
}

.modal-body {
  font-family: 'Pretendard Medium';
  color: var(--color-modal-black);
  text-align: center;
}

.first-body {
  display: flex;
  gap: 30px;
}

.profile {
  width: 114px;
  height: 114px;
  border-radius: 50%;
  border-radius: 50%;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  font-family: 'Pretendard Medium';
  line-height: 2rem;
  text-align: left;
}

.semester {
  font-family: 'Pretendard Semibold';
  font-size: 20px;
}

.name {
  font-family: 'Pretendard Bold';
  font-size: 30px;
  color: var(--color-primary);
}

.student-number {
  font-family: 'Pretendard Medium';
  font-size: 18px;
}

.hanmadi {
  padding-top: 2.2rem;
  padding-bottom: 2rem;
  font-family: 'Pretendard Semibold';
  font-size: 20px;
}

.extra-info {
  font-family: 'Pretendard Semibold';
  font-size: 18px;
  color: var(--color-brighter-text);
  line-height: 2rem;
}

.GitHubLink {
  color: var(--color-brighter-text);
  text-decoration: none;
  &:hover {
    color: var(--color-primary);
  }
}

.line {
  border: 1px solid var(--color-dark-stroke);
  margin-top: 5px;
  margin-bottom: 10px;
}

@media (max-width: 1264px) {
  .modalContent {
    scale: 85%;
    top: 45px;
    right: 115px;
  }
}

@media (max-width: 1064px) {
  .modalContent {
    scale: 75%;
    top: 25px;
    right: 32.5px;
  }
}

@media (max-width: 768px) {
  .modalContent {
    scale: 65%;
    top: 150px;
    right: 0px;
  }
}
